<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	
	<bean id ="alien" class="com.spring.springDemo.Alien">
		<!-- <property name="age" value="10"></property>  - setter injection-->
		<constructor-arg value="12"></constructor-arg>
		<constructor-arg value="13"></constructor-arg>
		 <!-- when even ever a property is added the corresponding set method is called.-->
		 <property name="lap" ref="lap1"></property>
	</bean>
	
	<bean id="lap1" class="com.spring.springDemo.Laptop">
	</bean>
</beans>